In [1]:
import csv
import pandas as pd
import numpy as np

columns=['experimentID', 'parName', 'parAge', 'parSex', 'seqID', 'seqW',
                                                'seqH', 'sphRad', 'seqTime', 'seqDur', 'us3DVPAx', 'us3DVPAy',
                                                'us3DVPAz', 'us3DVPBx', 'us3DVPBy', 'us3DVPBz', 'us3DVPCx', 'us3DVPCy',
                                                'us3DVPCz', 'us3DVPDx', 'us3DVPDy', 'us3DVPDz', 'us3DVPEx', 'us3DVPEy', 'us3DVPEz',
                                                'us3DVPFx', 'us3DVPFy', 'us3DVPFz', 'us3DVPGx', 'us3DVPGy', 'us3DVPGz', 'us3DVPHx',
                                                'us3DVPHy', 'us3DVPHz', 'us3DVPMx', 'us3DVPMy', 'us3DVPMz', 'us2DVPAu', 'us2DVPAv',
                                                'us2DVPBu', 'us2DVPBv', 'us2DVPCu', 'us2DVPCv', 'us2DVPDu', 'us2DVPDv', 'us2DVPEu',
                                                'us2DVPEv', 'us2DVPFu', 'us2DVPFv', 'us2DVPGu', 'us2DVPGv', 'us2DVPHu', 'us2DVPHv',
                                                'us2DVPMu', 'us2DVPMv']
f = pd.read_csv("DataUS_v5.csv" , names= columns)
f.index = [x for x in range(0,len(f.index))]
f.to_csv('pandasResults_v5.csv')

In [2]:
rr = pd.read_csv('pandasResults_v5.csv')
rr.head()

,Unnamed: 0,experimentID,parName,parAge,parSex,seqID,seqW,seqH,sphRad,seqTime,...,us2DVPEu,us2DVPEv,us2DVPFu,us2DVPFv,us2DVPGu,us2DVPGv,us2DVPHu,us2DVPHv,us2DVPMu,us2DVPMv
0,0,12,Colm,31,male,0,3840,1920,75,2.651,...,0.217,0.642,0.218,0.49,0.219,0.338,0.098,0.296,0.1,0.49
1,1,12,Colm,31,male,0,3840,1920,75,2.732,...,0.217,0.642,0.218,0.49,0.219,0.338,0.098,0.296,0.1,0.49
2,2,12,Colm,31,male,0,3840,1920,75,2.813,...,0.217,0.642,0.218,0.49,0.219,0.338,0.098,0.296,0.1,0.49
3,3,12,Colm,31,male,0,3840,1920,75,2.893,...,0.217,0.642,0.218,0.49,0.219,0.338,0.098,0.296,0.1,0.49
4,4,12,Colm,31,male,0,3840,1920,75,2.934,...,0.217,0.642,0.218,0.49,0.219,0.338,0.098,0.296,0.1,0.49